.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    background-color: aqua;
    bottom: 0;
    padding: .5em;
}

.footer_list {
    display: flex;
    justify-content: space-between;
}

.footer p {
    padding-left: 1em;
    padding-right: 1em;
}